<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>traveller_login</servlet-name>
        <servlet-class>traveller_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>travell</servlet-name>
        <servlet-class>travell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>travel_booking</servlet-name>
        <servlet-class>travel_booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>travel</servlet-name>
        <servlet-class>travel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>travelhome</servlet-name>
        <servlet-class>travelhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agency_login</servlet-name>
        <servlet-class>agency_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer_login</servlet-name>
        <servlet-class>customer_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agency_pending</servlet-name>
        <servlet-class>agency_pending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirm_agency</servlet-name>
        <servlet-class>confirm_agency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password</servlet-name>
        <servlet-class>change_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_details</servlet-name>
        <servlet-class>view_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_travel</servlet-name>
        <servlet-class>update_travel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book_confirm</servlet-name>
        <servlet-class>book_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet2</servlet-name>
        <servlet-class>NewServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_package</servlet-name>
        <servlet-class>update_package</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_package1</servlet-name>
        <servlet-class>update_package1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_package2</servlet-name>
        <servlet-class>update_package2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pending_customer</servlet-name>
        <servlet-class>pending_customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminhome</servlet-name>
        <servlet-class>adminhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutadmin</servlet-name>
        <servlet-class>logoutadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_pack1</servlet-name>
        <servlet-class>view_pack1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>traveller_login</servlet-name>
        <url-pattern>/traveller_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>travell</servlet-name>
        <url-pattern>/travell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>travel_booking</servlet-name>
        <url-pattern>/travel_booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>travel</servlet-name>
        <url-pattern>/travel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>travelhome</servlet-name>
        <url-pattern>/travelhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agency_login</servlet-name>
        <url-pattern>/agency_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer_login</servlet-name>
        <url-pattern>/customer_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agency_pending</servlet-name>
        <url-pattern>/agency_pending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirm_agency</servlet-name>
        <url-pattern>/confirm_agency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_details</servlet-name>
        <url-pattern>/view_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_travel</servlet-name>
        <url-pattern>/update_travel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book_confirm</servlet-name>
        <url-pattern>/book_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet2</servlet-name>
        <url-pattern>/NewServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_package</servlet-name>
        <url-pattern>/update_package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_package1</servlet-name>
        <url-pattern>/update_package1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_package2</servlet-name>
        <url-pattern>/update_package2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pending_customer</servlet-name>
        <url-pattern>/pending_customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminhome</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutadmin</servlet-name>
        <url-pattern>/logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_pack1</servlet-name>
        <url-pattern>/view_pack1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
